/*****************************
 *
 * Author: Joe Gallagher
 * Date: 12.05.2018
 * CSS file in support of tuturials found here:
 * https://www.youtube.com/watch?v=I9XRrlOOazo&list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT
 *
 ****************************/

/*Text Transforms chance capitalization properties*/
/*p{
    text-transform: capitalize;
}