/*****************************
 *
 * Author: Joe Gallagher
 * Date: 12.04.2018
 * CSS file in support of tuturials found here:
 * https://www.youtube.com/watch?v=I9XRrlOOazo&list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT
 *
 ****************************/

/* Pseudo-selectors: extend normal element selection, generally a subset of . 
 * Things like action on click, hover, etc.
 * Or things like a specific subsection of a <li> or <p>, or filter out parent classes expected to have children but are empty
*/

/*format is .class:keyword*/

/*Can be applied to class, element, or id*/

/*First, last ,nth child
 * Note that nth child goes by all elements, not all elements of given type. 2 here skips headers
 * Instead, use first-of-type
 * Also, nth child doesn't go into children, it simply refers to instance count. For example, in 
 * <ul>
 *      <li></li>
 *      <li></li>
 * </ul>
 * to select second li, you do li:nth-child(2)
 */

li:nth-child(11), li:nth-child(1){
    font-weight: bold;
}

li:nth-child(even){
    background-color: aliceblue;
}

li:nth-child(odd){
    background-color: azure;
}

/*Can also achieve the above with formulas. Formulas can be arbitrarily complex*/

li:nth-child(2n+1){
    color: green;
}