/*****************************
 *
 * Author: Joe Gallagher
 * Date: 12.05.2018
 * CSS file in support of tuturials found here:
 * https://www.youtube.com/watch?v=I9XRrlOOazo&list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT
 *
 ****************************/

/*Font size can be absolute (px for pixels)
 * also relative

 */

h1{
    font-size: 48px;
}

h2{
    font-size 24px;
}

h3{
    16px;
}

/*Or, by em, which is a relative measurement, multiplies inherited value by 3
 */

/*article definition specifies all children at 16px*/

article{
    font-size: 16px;
}

h2{
    font-size: 3m;
}

/*Can also do by percent*/

p{
    font-size: 80%;
}