/*****************************
 *
 * Author: Joe Gallagher
 * Date: 12.05.2018
 * CSS file in support of tutorials found here:
 * https://www.youtube.com/watch?v=I9XRrlOOazo&list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT
 *
 ****************************/

/*Various properties to affect kerning. Can use em multipliers to multiply from font size
*/

p{
    color: red;
    font-size: 12px;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    line-height: 1.1em;
}