/*****************************
 *
 * Author: Joe Gallagher
 * Date: 12.05.2018
 * CSS file in support of tutorials found here:
 * https://www.youtube.com/watch?v=I9XRrlOOazo&list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT
 *
 ****************************/

/*Border radius can be set universally, or by corner*/

/*Going all the way on a square makes it circular*/

body{
    background: #eee;
}

#main-content{
    background: #fff;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 2px;
}

.static-width{
    width: 300px;
    height: 100px;
    border-radius: 10px;
}

.percentage-width{
    width: 70%;
    border-bottom-left-radius: 10px;
}

/* Will now display side by side*/
.inline-block{
    width: 40%;
    display: inline-block;
}