/*****************************
 *
 * Author: Joe Gallagher
 * Date: 12.02.2018
 *
 ****************************/
/*The entire header div tag*/

/*All h1 headers in the header div tag
 */
#header h1{
    font-size: 32px;
}

p{
    font-size: 12px;
    color: blue;
}

#realspecific{
    color:red;
    color:blue;
}

.deck{
    color:burlywood;
}

span{
    text-transform: uppercase;
    color: aquamarine;
}

h1{
    
}

a{
    
}

div{
    width: 100%;
    background-color: gray;
}



