body{
    margin: 0px;
}

#page{
    margin: 0px;
}

#banner{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 20%;
    background-color: maroon;
}

#about{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 30%;
    top: 20%;
    background-color: purple;
}

#sidebar{
    position: fixed;
    margin: 0px;
    width: 20%;
    height: 100%;
    z-index: -1;
    background-color: teal;
    border: 0px;
    border-
}

