body{
    position: relative;
    margin: 0px;
}

#page{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

#banner{
    margin: 0px;
    width: 100%;
    height: 20vh;
    background-color: maroon;
    animation-name: bannerFadeIn;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transition: transform .2s;
    z-index: 1;
}

#banner:hover{
    transform: scaleY(1.5);
}

#about{
    margin: 0px;
    width: 100%;
    height: 50vh;
    background-color: purple;
    display: block;
}

#sidebar-container{
    position: absolute;
    margin: 0px;
    width: 20%;
    height: 400vh;
    z-index: -1;
    background-color: teal;
    border: 0px;
}

#sidebar{
    position: sticky;
    margin-top: 800px;
    top: 40vh;
    width: 100%;
    height: 20vh;
    z-index: 0;
    background-color: darkgreen;
}

#content{
    margin: 0px;
    margin-left: 20%;
    display: inline-block;
    width: 80%;
    height: 2500px;
    background-color: aqua;
}

@keyframes bannerFadeIn {
  0%   {background-color:white; height: 100vh}
  25%  {background-color:maroon; height: 100vh}
  35%  {background-color:maroon; height: 100vh}
  100% {height: 20vh;}
}

@keyframes subBannerFadeIn {
  0%   {background-color:white; height: 100%;}
  35%  {background-color:maroon; height: 100%}
  45%  {background-color:maroon; height: 100%}
  100% {height: 20%;}
}
