/*****************************
 *
 * Author: Joe Gallagher
 * Date: 12.04.2018
 * CSS file in support of tuturials found here:
 * https://www.youtube.com/watch?v=I9XRrlOOazo&list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT
 *
 ****************************/

/* Pseudo-selectors: extend normal element selection, generally a subset of . 
 * Things like action on click, hover, etc.
 * Or things like a specific subsection of a <li> or <p>, or filter out parent classes expected to have children but are empty
*/

/*format is .class:keyword*/

/*Can be applied to class, element, or id*/

a:hover{
    color: red;
}

#prequel-content:hover{
    background-color: red;
}