/*****************************
 *
 * Author: Joe Gallagher
 * Date: 12.05.2018
 * CSS file in support of tuturials found here:
 * https://www.youtube.com/watch?v=I9XRrlOOazo&list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT
 *
 ****************************/

/*Colors come in two types, color, and background*/

#header h1{
    color: chocolate;
}

/*Can also do hex codes*/

h2{
    color: #5631F3;
}

#all-articles{
    background-color:beige;
}

/*Background-color is useful for "seeing" invisible elements like div when laying out a page*/