/*****************************
 *
 * Author: Joe Gallagher
 * Date: 12.03.2018
 * CSS file in support of tuturials found here:
 * https://www.youtube.com/watch?v=I9XRrlOOazo&list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT
 *
 ****************************/

/*Select all elements with a given attribute type, regardless of attribute content
Useful especially for forms, as class/id is rarely used, but type is*/

span[class]{
    color: purple;
}

div[id]{
    background: grey;
}

/*Specify content of attribute*/

a[title="QC passed 12-03-2018"]{
    color: red;
}

/*Can also use modifiers to enforce pattern matching. 
"=": Entire attribute matches
"~=": Contains whole word
"|=": Starts with word
"^=": Starts with value
****Words are seperated by spaces, value could be in-word****
"$=": Ends with value
"*=": Contains value anywhere

/* Style all links to pdf files different*/

a[href$=pdf]{
    color: green;
}

/* Style all external links different*/
a[href^="http"]{
    font-weight: bold;
}