/*****************************
 *
 * Author: Joe Gallagher
 * Date: 12.05.2018
 * CSS file in support of tutorials found here:
 * https://www.youtube.com/watch?v=I9XRrlOOazo&list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT
 *
 ****************************/

/*padding follows margins -- can take 1, 2, or 4 arguments. 1 applies to all
 * four goes clockwise from top, right, bottom, left
 * two does top-bottom left-right
 */

/*Or just specify names*/

/*By default veritcal margins collapse -- two elements stacked on top of each other will only display larger of two margins*/

article{
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 2px;
    border: 1px solid black;
}

/*Centering using margins*/

div.shiny{
    margin: 10px auto;
    width:300px;
}